/* typo */
p{
  margin-top: 20px;
}

/* Mix */
body{
  font-family: 'Montserrat', sans-serif;
}
.bg_main{
  background-color: #2C3E50;
}
.bg_secondary{
  background-color: #1ABC9C;
}
/* header */
.header_top{
  padding: 20px 0;
}
.title{
  color: #fff;
}
ul{
  margin-top: 25px;
  list-style: none;
}
ul li{
  display: inline-block;
}
ul li:not(:last-child){
  margin-right: 20px;
}
ul li a{
  text-decoration: none;
  color: white;
}
.header_hero{
  padding: 60px 0;
  color: #fff;
}
.hero img{
  height: 240px;
}
.hero h1{
  font-size: 64px;
  font-weight: 600;
}
.star{
  font-size: 30px;
}
/* /header */
/* main */
.section_title{
  text-align: center;
  text-transform: uppercase;
  margin: 30px auto;
}
.portfolio_img{
  width: 100%;
  height: 200px;
  background-color: red;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
}
#bg_green{
  background-color: #1ABC9C;
}

.data_user{
  margin-top: 20px;
}
.underlined{
  border-bottom: 1px solid lightgrey;
}
/* /main */
/* footer */
.footer_top{
  background-color: #3A546D;
  margin-top: 30px;
  color: white;
  text-align: center;
}
.footer_bottom{
  background-color: #2C3E50;
  text-align: center;
  color: white;
}
.footer_bottom h5{
  line-height: 100px;
}
/* /footer */
