html {
scroll-behavior: smooth;
}
/* Mix */
body{
  font-family: 'Montserrat', sans-serif;
}
.bg_main{
  background-color: #2C3E50;
}
.bg_secondary{
  background-color: #1ABC9C;
}
ul{
  list-style: none;
}
ul li{
  display: inline-block;
}
ul li:not(:last-child){
  margin-right: 20px;
}
ul li a{
  text-decoration: none;
  color: white;
}
.star{
  font-size: 30px;
  margin-top: 20px;
  vertical-align: middle;
}
.star::after,
.star::before{
  content: '';
  width: 100%;
  max-width: 20%;
  background-color: currentcolor;
  border: 2px solid #fff;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
}
.star_dark{
  text-align: center;
  font-size: 30px;
  color: #2C3E50;
  margin-bottom: 25px;
}
.star_dark::before,
.star_dark::after{
  content: '';
  width: 100%;
  max-width: 20%;
  background-color: currentcolor;
  border: 2px solid #2C3E50;
  border-radius: 10px;
  vertical-align: middle;
  display: inline-block;
}
p{
  margin-top: 20px;
}
/* header */
.header_top{
  width: 100%;
  padding: 10px 0;
  height: 105px;
  line-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  line-height: 60px;
}
.title{
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
}
.title:hover{
  color: #fff;
  text-decoration: none;
}
.nav_top{
  text-transform: uppercase;
  color: white;
}
.btn_nav{
  background-color: #1ABC9C;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  padding: 15px 12px;
  margin-left: 10px;
  margin-right: 10px;
}
.nav_top a{
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.nav_top a:hover{
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  background-color: #1ABC9C;
  text-decoration: none;
}
.header_hero{
  margin-top: 105px;
  padding: 60px 0;
  color: #fff;
}
.hero img{
  max-height: 240px;
}
.hero h1{
  font-size: 64px;
  font-weight: 600;
}
.hero p{
  font-size: 24px;
}
/* /header */
/* main */
.portfolio{
  padding: 80px 0;
}
.section_title{
  text-align: center;
  text-transform: uppercase;
  margin: 30px auto;
  color: #2C3E50;
  font-size: 35px;
}
.portfolio_img{
  width: 100%;
  display: inline-block;
  margin: 10px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.portfolio_img img{
  max-width: 100%;
}
.overlay{
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 188, 156, 0.7);
  display: none;
}
.overlay i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}
.portfolio_img:hover .overlay{
  display: block;
  cursor: pointer;
}
.about{
  color: #fff;
  text-align: center;
  padding: 80px 0;
}
.container_small{
  max-width: 800px;
  width: 70%;
  margin: auto;
}
.about h2{
  color: #fff;
}
.about p{
  font-size: 20px;
  color: #fff;
  text-align: left;
  margin-bottom: 40px;
}
.btn_download{
  background-color: transparent;
  border: 2px solid #fff;
}
.btn_download:hover{
  color: #fff;
}
#contact{
  padding: 90px 0;
}
.contact_form{
  width: 100%;
  height: 30px;
  display: block;
  border: none;
  border-bottom: 1px solid lightgrey;
  margin: 30px 0;
  padding: 20px 0;
}
.contact_form_txtarea{
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid lightgrey;
  margin: 30px 0;
  padding: 20px 0;
}
.contact_form::placeholder,
.contact_form_txtarea::placeholder{
  color: #2C3E50;
}
.btn_send{
  background-color: #1ABC9C;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 25px;
}
.btn_send:hover{
  color: #fff;
}
/* /main */
/* footer */
.footer_top{
  background-color: #3A546D;
  margin-top: 30px;
  color: white;
  text-align: center;
}
.adress{
  font-size: 20px;
  text-transform: uppercase;
}
.social_list {
  padding-left: 0;
  margin-top: 10px;
}
.social_list li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.social_list li a:hover{
  background-color: #fff;
  color: #3A546D
}
.freelancer_description{
  font-size: 17px;
  margin-top: 10px;
}
.link_color{
  color: #1ABC9C;
}
.link_color:hover{
  color: #1ABC9C;
}
.footer_bottom{
  background-color: #2C3E50;
  text-align: center;
  color: white;
}
/* /footer */
@media screen and (max-width: 992px) {
  .header_hero{
    width: 100%;
  }
  .hero h1{
    font-size: 40px;
  }
}
