/* header */
#bg_blue{
  height: 120px;
  background-color: #2C3E50;
}
.title{
  float: left;
  width: 50%;
}
.nav_bar{
  float: right;
  width: 50%;
}
h1{
  color: white;
}
ul{
  margin-top: 25px; 
  list-style: none;
  vertical-align: middle;
}
ul li{
  display: inline-block;
}
ul li:not(:last-child){
  margin-right: 20px;
}
ul li a{
  text-decoration: none;
  color: white;
}
.jumbotron{
  height: 600px;
  background-color: #1ABC9C;
}
.jumbotron_img{
  width: 400px;
  height: 400px;
  background-color: gold;
  margin: auto;
}
/* /header */
