/* header */
#bg_blue{
  background-color: #2C3E50;
}
.title{
  float: left;
  width: 50%;
}
.nav_bar{
  float: right;
  width: 50%;
}
h1{
  color: white;
}
ul{
  margin-top: 25px;
  list-style: none;
  vertical-align: middle;
}
ul li{
  display: inline-block;
}
ul li:not(:last-child){
  margin-right: 20px;
}
ul li a{
  text-decoration: none;
  color: white;
}
.hero{
  height: 600px;
  background-color: #1ABC9C;
  position: relative;
}
.jumbotron_img{
  width: 400px;
  height: 400px;
  background-color: gold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* /header */
/* main */
.section_title{
  text-align: center;
  text-transform: uppercase;
  margin: 30px auto;
}
.portfolio_img{
  width: 100%;
  height: 200px;
  background-color: red;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
}
#bg_green{
  background-color: #1ABC9C;
}
p{
  margin-top: 20px;
}
.data_user{
  margin-top: 20px;
}
h3{
  border-bottom: 1px solid lightgrey;
}
