/* typo */
p{
  margin-top: 20px;
}

/* Mix */
body{
  font-family: 'Montserrat', sans-serif;
}
.bg_main{
  background-color: #2C3E50;
}
.bg_secondary{
  background-color: #1ABC9C;
}
/* header */
.header_top{
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.nav_top{
  margin: 25px 0;
  text-transform: uppercase;
  color: white;
}
.title{
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;  
}
.btn_nav{
  background: #1ABC9C;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  padding: 15px 12px;
  margin-left: 10px;
}
.nav_top a{
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
ul{
  margin-top: 25px;
  list-style: none;
}
ul li{
  display: inline-block;
}
ul li:not(:last-child){
  margin-right: 20px;
}
ul li a{
  text-decoration: none;
  color: white;
}
.header_hero{
  padding: 120px 0;
  color: #fff;
}
.hero img{
  height: 240px;
}
.hero h1{
  font-size: 64px;
  font-weight: 600;
}
.hero p{
  font-size: 20px;
}
.star{
  font-size: 30px;
  margin-top: 20px;
}
.star::before{
  content: '';
  width: 100%;
  max-width: 20%;
  border: 4px solid #fff;
  border-radius: 16px;
  vertical-align: middle;
  display: inline-block;
}
.star::after{
  content: '';
  width: 100%;
  max-width: 20%;
  border: 4px solid #fff;
  border-radius: 16px;
  vertical-align: middle;
  display: inline-block;
}
/* /header */
/* main */
.portfolio{
  padding: 40px 0;
}
.section_title{
  text-align: center;
  text-transform: uppercase;
  margin: 30px auto;
  color: #2C3E50;
  font-size: 35px;
}
.star_dark{
  text-align: center;
  font-size: 30px;
  color: #2C3E50;
  margin-bottom: 25px;
}
.star_dark::before{
  content: '';
  width: 100%;
  max-width: 20%;
  border: 4px solid #2C3E50;
  border-radius: 16px;
  vertical-align: middle;
  display: inline-block;
}
.star_dark::after{
  content: '';
  width: 100%;
  max-width: 20%;
  border: 4px solid #2C3E50;
  border-radius: 16px;
  vertical-align: middle;
  display: inline-block;
}
.portfolio_img{
  width: 100%;
  display: inline-block;
  margin: 10px;
}
.portfolio_img img{
  max-width: 100%;
  border-radius: 5px;
}
.about{
  color: #fff;
  text-align: center;
  padding: 40px 0;
}
.container_small{
  max-width: 800px;
  width: 70%;
  margin: auto;
}
.about h2{
  color: #fff;
}
.about p{
  font-size: 20px;
  color: #fff;
  text-align: left;
  margin-bottom: 40px;
}
.btn_download{
  background-color: #1ABC9C;
  border: 1px solid #fff;
}

.contact_form{
  width: 100%;
  height: 30px;
  display: block;
  border: none;
  border-bottom: 1px solid lightgrey;
  color: #2C3E50;
  margin: 30px 0;
}
.contact_form_txtarea{
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid lightgrey;
  color: #2C3E50;
  margin: 30px 0;
}
.btn_send{
  background-color: #1ABC9C;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
}
/* /main */
/* footer */
.footer_top{
  background-color: #3A546D;
  margin-top: 30px;
  color: white;
  text-align: center;
}
.adress{
  font-size: 20px;
  text-transform: uppercase;
}
.social:not(:last-child){
  margin-left: 5px;
}
.circle{
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
}
.freelancer_description{
  font-size: 20px;
}
.link_color{
  color: #1ABC9C;
}
.footer_bottom{
  background-color: #2C3E50;
  text-align: center;
  color: white;
}
.footer_bottom h5{
  line-height: 100px;
}
/* /footer */
